extends base

block content
  h1 SIGN IN FORM
  form(
    method='POST'
    class='form'
  )
    div(
      class='form-field'
    )
      label(for='username') Username
      input(
        type='text'
        id='username'
        name='username'
      )

    div(
      class='form-field'
    )
      label(for='password') Password
      input(
        type='password'
        id='password'
        name='password'
      )

    button(
      type='submit'
      ) Submit
