extends base

block content
  h1 SIGN UP FORM
  form(
    method='POST'
    class='form'
  )
    div(
      class='form-field'
    )
      label(for='name') First name
      input(
        type='text'
        id='firstName'
        name='firstName'
      )

    div(
      class='form-field'
    )
      label(for='name') Last name
      input(
        type='text'
        id='lastName'
        name='lastName'
      )

    div(
      class='form-field'
    )
      label(for='username') Username
      input(
        type='text'
        id='username'
        name='username'
      )

    div(
      class='form-field'
    )
      label(for='password') Password
      input(
        type='text'
        id='password'
        name='password'
      )

    button(
      type='submit'
      ) Submit
