extends ../layout

block content
  h2 Add new category
  form(
    method='POST'
    action='/category/create'
    class='form'
  )
    div(
      class='form-field'
    )
      label(for='name') Category name
      input(
        type='text'
        id='name'
        name='name'
      )

    button(type='submit') Submit
