extends ../base

block content
  h2 Add new manufacturer
  form(
    method='POST'
    action='/catalog/manufacturer/create'
    class='form'
  )
    div(
      class='form-field'
    )
      label(for='name') Manufacturer name
      input(
        type='text'
        id='name'
        name='name'
      )

    button(
      type='submit'
      ) Submit
